<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dev.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>local.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>product.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>staging.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>533C19F12499E53C0021E6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>533C1A0A2499E53E0021E6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>533C1A152499E53E0021E6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53D1F41124D67AFA008688F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53D1F47A24D67DC3008688F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53D1F4DB24D67E4D008688F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
